<section class="page-login height100">  
  <aside class="col-sm-12">
    <div class="top_register">
      <ul>
         <li class="dont">Don’t have an account?</li>
         <li>
            <%= button_to "REGISTER", new_user_registration_path, :method => :get, :class => "btn1" %>
         </li>       
      </ul>              
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'welcome'}) do |f| %>
      <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
      <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
      <%= content_tag(:div, flash[:alert], :id => "flash_alert",:class=>"alert-danger") if flash[:alert] %>
      <div class="welcome_top">
        <h2>Welcome Back!</h2>
        <p>Sign In below with your email address and password</p>
     </div> 
      <div class="forn_field">
        <div class="form-group form_g">
          <%= f.label :email, "EMAIL ADDRESS", class: "cus_label" %>
          <%= f.email_field :email, autofocus: true, required: true, value: "", id: "email", class: "form-control", placeholder: "johndoe@gmail.com" %>
        </div>
        <div class="form-group form_g">
          <%= f.label :password, "PASSWORD", class: "cus_label" %>
          <%= f.password_field :password, autocomplete: "off", required: true, value: "", id: "password", autofocus: true, class: "form-control", placeholder: "************" %>
        </div>
      </div>  
      <div class="sign_bt">
        <%= f.submit "SIGN IN", :class => 'btn2'%>
      </div>
    <% end %>
  </aside>
</section>